<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMDeviceHelperDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>845B142D1E826C0200723F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845B14491E826C0200723F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845B14541E826C0300723F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
